<div class="container mx-auto border-b-2 border-gray-900 bg-lime-100 p-1">
  <div class="flex items-center px-2">
    {{ icon "key" }}
    <div class="px-2">
      Create key
      <div class="text-xs">
        Add new key in the {{ .Keyspace.Name }} keyspace
      </div>
    </div>
  </div>
</div>
<div class="p-4">
  <form hx-post="" hx-target="#notification" hx-swap="innerHTML">
    {{ .CSRFHiddenInput }}
    <div
      x-data="{override: false, datetime: '2050-01-01T01:00', tz: localtz()}"
      class="flex flex-col gap-2"
    >
      <label class="flex flex-col">
        <span class="flex items-center"
          >Expiration date<span class="ml-auto p-1 text-xs text-gray-700"
            >required</span
          ></span
        >
        <span class="py-1 text-xs text-gray-700"
          >Time at which the key will expire</span
        >
        <input
          name="expiration"
          type="datetime-local"
          x-model="datetime"
          class=""
        />
        <input type="hidden" name="tz" x-model="tz" />
        <div class="flex items-center gap-2 text-xs text-pink-500">
          <button
            type="button"
            class="my-1 rounded bg-gray-100 p-1 hover:bg-gray-200"
            x-on:click="datetime = datetimeFormat(new Date())"
          >
            now
          </button>
          <button
            type="button"
            class="my-1 rounded bg-gray-100 p-1 hover:bg-gray-200"
            x-on:click="datetime = datetimeFormat(addMinutes(new Date(), 5))"
          >
            in 5 min
          </button>
          <button
            type="button"
            class="my-1 rounded bg-gray-100 p-1 hover:bg-gray-200"
            x-on:click="datetime = datetimeFormat(addDays(new Date(), 1))"
          >
            in 1 day
          </button>
          <button
            type="button"
            class="my-1 rounded bg-gray-100 p-1 hover:bg-gray-200"
            x-on:click="datetime = datetimeFormat(addDays(new Date(), 30))"
          >
            in 30 days
          </button>
          <button
            type="button"
            class="my-1 rounded bg-gray-100 p-1 hover:bg-gray-200"
            x-on:click="datetime = '2050-01-01T01:00'"
          >
            in 2050
          </button>
        </div>
      </label>
      <label class="flex items-center gap-2">
        <input
          name="override-ratelimit"
          x-model="override"
          type="checkbox"
          class="text-pink-300"
          checked
        />
        <span>Custom ratelimit</span>
      </label>
      <div x-show="override" class="flex flex-nowrap gap-2 text-sm">
        <label class="flex flex-col">
          <span>Refill rate</span>
          <input
            name="refill-rate"
            type="text"
            class="w-1/4 min-w-full"
            placeholder="1"
          />
        </label>
        <label class="flex flex-col">
          <span>Refill interval</span>
          <input
            name="refill-interval"
            type="text"
            class="w-1/2 min-w-full"
            placeholder="10s"
          />
        </label>
        <label class="flex flex-col">
          <span>Limit</span>
          <input
            name="limit"
            type="number"
            class="w-1/4 min-w-full"
            placeholder="10"
          />
        </label>
      </div>
      <div class="mt-4 flex flex-row-reverse items-center gap-4">
        <button
          class="w-1/4 max-w-24 border-2 bg-gray-900 font-bold text-pink-400 hover:text-pink-300"
          type="submit"
        >
          Create
        </button>
        <a href="/keyspaces/{{ .Keyspace.KSID }}" class="text-pink-700"
          >Cancel</a
        >
      </div>
    </div>
  </form>
</div>

{{ define "dashboard/key_new@created" }}
  <div
    x-data="{open: true}"
    x-show="open"
    class="container mx-auto border-b-2 border-gray-900 bg-sky-100 p-6"
  >
    <div class="flex items-center gap-1">
      <a href="/keyspaces/{{ .Keyspace.KSID }}/keys/{{ .Key.KID }}">
        <span class="p-1 text-pink-500 transition hover:text-pink-700">
          {{ .Key.KID }}
        </span>
      </a>

      has been created
      <div class="ml-auto">
        <button
          x-on:click="open = false"
          class="text-gray-500 transition hover:text-gray-900"
        >
          {{ icon "x" }}
        </button>
      </div>
    </div>
    {{ $eye := raw (icon "eye") }}
    {{ $eyeoff := raw (icon "eye-off") }}
    <div
      x-data="{show_token: false, token: '{{ .Key.Token }}', copied: timer(0) }"
      x-init="copied.init()"
    >
      <div
        class="mt-2 flex w-full items-center gap-3 rounded border-2 border-blue-50 bg-blue-50 p-2 hover:border-pink-300"
      >
        <span
          class="text-gray-700"
          x-text="show_token ? token : '*'.repeat(token.length)"
        ></span>
        <div class="ml-auto flex items-center gap-2">
          <span :class="{ 'hidden': copied.done() }" class="text-pink-400"
            >copied !</span
          >
          <button
            class="text-pink-400 transition hover:text-pink-600"
            x-on:click="navigator.clipboard.writeText(token); copied.restart(1000)"
          >
            {{ icon "copy" }}
          </button>
          <button
            class="ml-auto text-pink-400 transition hover:text-pink-600"
            x-on:click="show_token = !show_token"
            x-html="show_token ? '{{ $eyeoff }}' : '{{ $eye }}'"
          ></button>
        </div>
      </div>
    </div>
    <div class="mt-4 flex gap-2 text-gray-600">
      {{ icon "alert-octagon" }}


      <div>
        <div class="font-semibold">this token will not be shown again</div>
        <div>please make sure to store it somewhere safe</div>
      </div>
    </div>
    {{ if .Key.Ratelimit }}
      <div class="container mx-auto px-4 py-2">
        <div class="p-2 underline">Custom Ratelimit</div>
        <table class="table-fixed">
          <tr class="">
            <td class="px-2">limit</td>
            <td class="px-2 font-semibold">{{ .Key.Ratelimit.Limit }}</td>
          </tr>
          <tr class="">
            <td class="px-2">refill</td>
          </tr>
          <tr class="">
            <td class="px-2">├─ interval</td>
            <td class="px-2 font-semibold">
              {{ .Key.Ratelimit.RefillInterval.String }}
            </td>
          </tr>
          <tr>
            <td class="px-2">└─ rate</td>
            <td class="px-2 font-semibold">
              {{ .Key.Ratelimit.RefillRate }}
            </td>
          </tr>
        </table>
      </div>
    {{ end }}
  </div>
{{ end }}
