<div class="container mx-auto border-b-2 border-gray-900">
  <div class="flex bg-lime-100 p-2">
    {{ icon "info" }}
    <div class="px-2">Infos</div>
    <div class="ml-auto hover:text-pink-300">
      {{ icon "edit" }}
    </div>
  </div>
</div>

<div class="container mx-auto border-b-2 border-gray-900 px-4 py-2">
  <table class="table-fixed">
    <tr class="">
      <td class="px-2">name</td>
      <td class="px-2 font-semibold">{{ .Keyspace.Name }}</td>
    </tr>
    <tr class="">
      <td class="px-2">ksid</td>
      <td class="px-2 font-semibold">{{ .Keyspace.KSID }}</td>
    </tr>
    <tr>
      <td class="px-2">key token prefix</td>
      <td class="px-2 font-semibold">{{ .Keyspace.KeysPrefix }}</td>
    </tr>
  </table>
</div>
{{ if .Keyspace.Ratelimit }}
  <div class="container mx-auto px-4 py-2">
    <div class="p-2 underline">Ratelimit</div>
    <table class="table-fixed">
      <tr class="">
        <td class="px-2">limit</td>
        <td class="px-2 font-semibold">{{ .Keyspace.Ratelimit.Limit }}</td>
      </tr>
      <tr class="">
        <td class="px-2">refill</td>
      </tr>
      <tr class="">
        <td class="px-2">├─ interval</td>
        <td class="px-2 font-semibold">
          {{ .Keyspace.Ratelimit.RefillInterval.String }}
        </td>
      </tr>
      <tr>
        <td class="px-2">└─ rate</td>
        <td class="px-2 font-semibold">
          {{ .Keyspace.Ratelimit.RefillRate }}
        </td>
      </tr>
    </table>
  </div>
{{ end }}
<div class="container mx-auto border-b-2 border-gray-900">
  <div class="flex bg-lime-100 p-2">
    {{ icon "list" }}
    <div class="px-2">Keys</div>
    <a
      hx-boost="true"
      class="ml-auto hover:text-pink-300"
      href="/keyspaces/{{ .Keyspace.KSID }}/key_new"
    >
      {{ icon "plus-square" }}
    </a>
  </div>
</div>
<div class="container mx-auto border-b-2 border-gray-900">
  {{ if eq (len .KeyList.Keys) 0 }}
    <div class="p-8 text-center text-gray-500">
      No keys in keyspace
      <div class="text-center">
        <a
          hx-boost="true"
          href="/keyspaces/{{ .Keyspace.KSID }}/key_new"
          class="mx-auto flex items-center justify-center gap-2 pt-2 text-pink-500 hover:text-pink-600"
        >
          Create your first key
          {{ icon "plus-square" }}
        </a>
      </div>
    </div>
  {{ else }}
    <table class="w-full table-auto">
      <thead>
        <tr>
          <th class="p-1 text-left">KID</th>
          <th class="p-1 text-left">Last Used</th>
          <th class="hidden p-1 text-left sm:block">Expires At</th>
        </tr>
      </thead>
      <tbody>
        {{ range $k := .KeyList.Keys }}
          <tr
            hx-boost="true"
            class="hover:bg-gray-950 hover:font-bold hover:text-pink-200"
          >
            <td class="p-1">
              <a
                class="block w-full"
                href="/keyspaces/{{ $.Keyspace.KSID }}/keys/{{ $k.KID }}"
                >{{ $k.KID }}</a
              >
            </td>
            <td class="p-1">
              <a
                class="block w-full"
                href="/keyspaces/{{ $.Keyspace.KSID }}/keys/{{ $k.KID }}"
              >
                {{ if not $k.LastUsed.IsZero }}
                  {{ $k.LastUsed.Format "2006-01-02" }}
                {{ else }}
                  -
                {{ end }}
              </a>
            </td>
            <td class="hidden p-1 sm:block">
              <a
                class="block w-auto"
                href="/keyspaces/{{ $.Keyspace.KSID }}/keys/{{ $k.KID }}"
              >
                {{ if not $k.ExpiresAt.IsZero }}
                  {{ $k.ExpiresAt.Format "2006-01-02" }}
                {{ else }}
                  -
                {{ end }}
              </a>
            </td>
          </tr>
        {{ end }}
      </tbody>
    </table>
    <div class="flex">
      <nav class="mx-auto py-4" role="navigation" aria-label="pagination">
        <ul class="flex items-center">
          {{ .Pagination }}
        </ul>
      </nav>
    </div>
  {{ end }}
</div>
{{ define "dashboard/keys_pagination" }}
  {{ if .Current }}
    <li>
      <a
        hx-boost="true"
        class="bg-gray-200 p-2 text-pink-500 hover:bg-gray-200"
        href="{{ .Path }}?page={{ .Page }}&limit={{ .Limit }}"
        >{{ .Page }}</a
      >
    </li>
  {{ else }}
    <li>
      <a
        hx-boost="true"
        class="p-2 text-pink-500 hover:bg-gray-200"
        href="{{ .Path }}?page={{ .Page }}&limit={{ .Limit }}"
        >{{ .Page }}</a
      >
    </li>
  {{ end }}
{{ end }}
