<div class="container mx-auto border-b-2 border-gray-900">
  <div class="flex bg-lime-100 p-2">
    {{ icon "info" }}
    <div class="px-2">Infos</div>
    <div class="ml-auto hover:text-pink-300">
      {{ icon "edit" }}
    </div>
  </div>
</div>

<div class="container mx-auto px-4 py-2">
  <table class="table-fixed">
    <tr class="">
      <td class="px-2">name</td>
      <td class="px-2 font-semibold">{{ .Keyspace.Name }}</td>
    </tr>
    <tr class="">
      <td class="px-2">ksid</td>
      <td class="px-2 font-semibold">{{ .Keyspace.KSID }}</td>
    </tr>
    <tr>
      <td class="px-2">key prefix</td>
      <td class="px-2 font-semibold">{{ .Keyspace.KeysPrefix }}</td>
    </tr>
  </table>
</div>

<div class="container mx-auto border-b-2 border-gray-900 px-4 py-2">
  <div class="p-2 underline">Ratelimit</div>
  <table class="table-fixed">
    <tr class="">
      <td class="px-2">limit</td>
      <td class="px-2 font-semibold">{{ .Keyspace.Ratelimit.Limit }}</td>
    </tr>
    <tr class="">
      <td class="px-2">refill</td>
    </tr>
    <tr class="">
      <td class="px-2">├─ interval</td>
      <td class="px-2 font-semibold">
        {{ .Keyspace.Ratelimit.RefillInterval.String }}
      </td>
    </tr>
    <tr>
      <td class="px-2">└─ rate</td>
      <td class="px-2 font-semibold">
        {{ .Keyspace.Ratelimit.RefillRate }}
      </td>
    </tr>
  </table>
</div>
<div class="container mx-auto border-b-2 border-gray-900">
  <div class="flex bg-lime-100 p-2">
    {{ icon "list" }}
    <div class="px-2">Keys</div>
    <a
      class="ml-auto hover:text-pink-300"
      href="/keyspaces/{{ .Keyspace.KSID }}/key_new"
    >
      {{ icon "plus-square" }}
    </a>
  </div>
</div>
<div class="container mx-auto border-b-2 border-gray-900">
  {{ range $k := .KeyList.Keys }}
    <a href="#">
      <div
        class="flex w-full px-4 py-2 hover:bg-gray-950 hover:font-bold hover:text-pink-200"
      >
        <div class="px-1">{{ icon "key" }}</div>

        {{ $k.KID }}
      </div>
    </a>
  {{ end }}
</div>
