<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Title }}</title>
    <link href="/statics/css/main.css" rel="stylesheet" />
  </head>

  <body class="p-2 font-mono" hx-ext="sse" sse-connect="/sse">
    {{ embed }}
    <script src="/statics/js/htmx.org/dist/htmx.min.js"></script>
    <script src="/statics/js/htmx-ext-sse/sse.js"></script>
    <script src="/statics/js/alpinejs/dist/cdn.min.js"></script>
    {{ template "script_sse" }}
  </body>
</html>
